.container{
    margin-top: 100px;
    line-height: 1.6;
    font-family: 'Russo One', sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}
.container ul{
    list-style: none;
    padding: 0;
}
.brand {
    text-align: center;
}
.container .wrapper{
    box-shadow: 0 0 10px 0 #060606;
    border-radius: 5px;
}
.container .wrapper > *{
    padding: 1em;
}
.info{
    background-color: #cdb39a;
}
.info h3, .info ul{
    text-align: center;
    margin: 0 0 1em 0;
}
.contact{
    background: #e3e3e3;
}
/* form styling-----------*/
.contact form{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2px;
}
.contact form label{
    display: block;
}
.contact form p{
    margin: 0;
}
.contact form button, .contact form input, .contact form textarea{
    border:1px solid #cdb39a;
     border-radius: 3px;

}

.contact form button{
    background: #060606;  
    color: #e3e3e3;
    border:0;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
}
.contact form button:hover,.contact form button:focus{
    background: #cdb39a;
    color: #060606;
    outline: 0;
    transition: background-color 1s ease-out;
}
/*large screens ------------*/
@media (min-width: 768px){
    .container .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .info h3, .info ul, .brand{
    text-align: left;
    }
}